* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, sans-serif;
    ;
}

.firstnav {
    height: 40px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(41, 41, 40);
}

.firstnav h2 {
    font-size: 14px;
    font-weight: lighter;
    color: aliceblue;
    text-transform: uppercase;
}

.firstnav img {
    margin-left: 6px;
}

.firstnav:hover {
    background-color: rgb(41, 41, 40);
}

.firstnavlink {
    text-decoration: none;
}

.secondnav {
    position: sticky;
    top: 0;
    height: 88px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

#namelogo {
    height: 27px;
    width: 120;
    margin-left: 55px;
}

.secondnav h2 {
    color: #ccc6c6;
    margin: 14px 0 10px 28px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
}

#navbarcontactimg {
    height: 27px;
    width: 25px;
    margin-left: 640px;
}

#navbarshopingimg {
    height: 27px;
    width: 25px;
    margin-left: 23px;
}

.secondnav a {
    text-decoration: none;
}

.menu:hover {
    color: aliceblue;
    text-decoration: underline white;
}

.firstsection {
    display: flex;
}

.firstsection img {
    width: 341px;
    height: 342px;
    margin-top: 36px;
}

.firstimgofsection {
    margin-left: 71px;
}

.secondorthirdimgofsection {
    margin-left: 45px;
}

.secondsection {
    display: flex;
}

.secondsection img {
    width: 341px;
    height: 342px;
    margin-top: 12px;
}

.thirdsection {
    display: flex;
}

.thirdsection img {
    width: 341px;
    height: 342px;
    margin-top: 12px;
}

.aboutauthor {
    display: flex;
}

.aboutauthor img {
    height: 500px;
    width: 375px;
    margin: 60px 55px;
}

.authornote h2 {
    font-size: 25px;
    color: black;
    margin-top: 130px;
    margin-left: 25px;
}

.authornote h3 {
    font-size: 22px;
    color: #201f1faf;
    margin-top: 30px;
    margin-left: 25px;
}

.aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 50px;
    background-color: black;
    margin-top: 33px;
    margin-left: 25px;
}

.aboutus p {
    color: white;
}

#aboutuscolor {
    color: aliceblue;
    text-decoration: none;
}

.footerbig {
    height: 351px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#contactus {
    margin-top: 30px;
    color: aliceblue;
}

.footerbig p {
    color: #969393;
}

.footerbig a {
    text-decoration: none;
}

.footerbig a,
p,
li:hover {
    color: aliceblue;
    text-decoration: underline;
}

.footerbig img {
    margin-top: 30px;
    height: 29px;
    width: 29px;
}

.footersmall {
    display: flex;
    align-items: center;
    height: 115px;
    width: 100%;
    background-color: black;
    color: #ccccccaf;
    border-top: 1px solid rgb(41, 41, 40);
    font-size: 10px;
    font-size: 14px;
    gap: 7px;
}

ul {
    margin-left: 12px;
    display: flex;
    gap: 27px;
}

.footersmall a,
p {
    color: #ccccccaf;
    text-decoration: none;
}

.colorandunderline p:hover {
    color: aliceblue;
    text-decoration: underline;


}

#formargin {
    margin-left: 50px;
    color: #ccccccaf;
    text-decoration: none;
}